header {
    background: #161515e1;
    box-shadow: 0 2px 5px rgb(0, 0, 0);

}
nav {
    position: sticky;
	top: 0;
	z-index: 1000;
}

nav ul {
    list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	margin-right: 1rem;
}
nav ul li a {
	text-decoration: none;
	color: #64fa0d;
}

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000000;
	color: #64fa0d;
}
.title {
	font-size: 3rem;
	text-transform: uppercase;
	opacity: 0;
	animation: fadeIn 2s forwards ease-in;
	font-family:"Oxanium", sans-serif;
	font-weight: 700;
}
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.terminal-title{
	font-family: "Share Tech Mono", monospace;
	font-weight: 400;
}


body{
	background-color: #000000;
	color:#ffffffe1;
	font-family:"Share Tech Mono", monospace;
}

footer{
	background-color: #000000;
	color: #64fa0d;
}