.error{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fa0d0d;
}

.content{
    max-width:70ch;
    margin-inline: auto;
    padding:1rem;
    line-height: 1.6;
    font-size: 1.25rem;
    color:#fcfcfc;
}

.captures{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(min(100%,16rem),1fr ));
    gap: 1rem;
    padding: 1rem; 
}

.captures figure {
    margin: 0;

}

.capturas img {
    display: block;
    width: 100%;
    height: auto;
}